body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin-bottom: 50px;
}
ul.editing li {
  color: #ccc;
  cursor: not-allowed;
}
ul li p {
  flex: 1
}
ul li .actions {
  display: none;
}
ul li {
  cursor: pointer;
  padding: 5px;
  max-width: 500px;
}

ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

ul:not(.editing) li:hover .actions {
  display: block;
}


